/* Header Container */
.header-container {
    position: absolute; /* Make the header float above the Hero */
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Ensure it's above the Hero background */
    background: transparent; /* Fully transparent background */
    box-shadow: none; /* Remove the shadow if not needed */
  }
  
  
  /* Header Logo */
  .header-logo {
    width: 120px;
    height: auto;
  }

/* Hero Section Container */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-image: url('/public/opening.svg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  /* Hero Content Wrapper */
  .hero-content {
    text-align: center;
    color: #ffffff;
    z-index: 5; /* Ensure text and button appear above background */
  }
  
  /* Hero Title Styling */
  .hero-title {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-text-white {
    color: #ffffff;
  }
  
  .hero-text-highlight {
    color: #ffc260;
  }
  
  /* Adjust Button Styling if Needed */
  .hero-content a button {
    margin-top: 1rem;
  }
  
  

  